@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@100;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#183b56;
    --secondar-text-color:#232528;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3
    
}
body{
    /* background: #ababab; */
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}
p{
    font-family: 'Roboto', sans-serif;
    color: var(--secondar-text-color);
    line-height: 1.4rem;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}
nav{
    background-color: #1d1745;
    box-shadow:  0 0 4px #bbd0e2;
    position: fixed  ;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 99;
}
.nav-main{
    justify-content: space-between;
    padding: 8px 0px;
    font-weight: bold;
}
.company-logo img{
    height: 40px;
}
.nav-links ul{
    gap: 30px;
}
.hover-link{
    cursor: pointer;
}
.hover-link:hover{
    color: rgb(255, 30, 30)

}
.hover-link:active{
    color: rgb(95, 201, 104);
}
.search-bar{
    height: 32px;
    gap: 8px;
}
.news-input{
    width: 200px;
    height: 100%;
    border-radius: 4px;
    padding-inline:12px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #a4bdd2;
}
.search-button{
    background: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.search-button:hover{
    background: var(--accent-color-dark);
}

main{
    margin-top: 80px;
    padding-block: 20px;
}
.cards-container{
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    background: white;
    align-items: start;
}
.card{
    margin: 10px;
    width: 360px;
    height: 400px;
    box-shadow: 0 0 6px #bcd4e8;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    transform: all 0.3s ease ;
}
.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #dbe3e7;
    transform: translateY(-1px);
}
.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content{
    padding: 12px;
}
.news-source{
    margin-block: 12px;
}
.active{
    color: rgb(120, 207, 102)
} 